body {
  background-color: #f8f8f8;
  overflow-y: scroll;

}

.user-space {
  margin-right: 5px;
}

.fixed-margin {
  height: 50px;
  width: 100%;
}

.whiteBackground {
  background-color: #fff;
}

.drag-drop-zone {
  font-size: 20px;
  border-radius: 5px;
  border: 2px dashed #3c3c3c;
  height: 200px;
  &.droped {
    height: 300px;
    border: 0;
  }
  * {
    margin-top: 80px;
  }
}

.tag-list {
  width: 200px;
}

.active-dad {
  border: 2px dashed #ccc;
  color: #ccc;
}

.imageBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.white-space {
  white-space: pre-line;
}

.addMenuGroup {
  width: 100% !important;
}

.addMenu {
  height: 136px !important;
  width: 100% !important;
  box-shadow: none;
  font-size: 30px;
  &:hover {
    box-shadow: 0 0 1px rgba(0,0,0,.5);
  }
}

.addContact {
  height: 136px !important;
  width: 100% !important;
  box-shadow: none;
  font-size: 30px;
  background-color: #f8f8f8;
  border: 1px dashed #ddd;
  &:hover {
    border: 1px solid #aaa;
  }
}

.menuIsOff {
  padding-top: 5px !important;
}

.select-link-type {
  width: 100%;
  & > label {
    padding: 5px 11px 5px 11px;
    &:nth-of-type(1) {
      padding: 5px 13px 5px 12px;
    }
  }
}