body {
  background-color: #f8f8f8;
  overflow-y: scroll;

}

.user-space {
  margin-right: 5px;
}

.fixed-margin {
  height: 50px;
  width: 100%;
}

.whiteBackground {
  background-color: #fff;
}

.drag-drop-zone {
  font-size: 20px;
  border-radius: 5px;
  border: 2px dashed #3c3c3c;
  height: 200px;
  &.droped {
    height: 300px;
    border: 0;
  }
  * {
    margin-top: 80px;
  }
}

.tag-list {
  width: 200px;
}

.active {
  border: 2px dashed #ccc;
  color: #ccc;
}

.imageBackground {
  background: center no-repeat;
  background-size: contain;
}

.white-space {
  white-space: pre-line;
}