@import "toast";
@import "reset.css";


$main-color: #006CFF;
$secondary-color: lighten($main-color, 5);


@font-face {
  font-family: ""AvernirP" , Verdana, TahomaP";
  src: url("../../fonts/Averir-Black.ttf") format("truetype");
}

html, body,ul{
  margin: 0;
  padding: 0;
}

body{
  min-height: 200px;
}

.text-center{
  text-align: center;
}

.page-title{
  padding: 20px 0;
  font-size: 1.9em;
  font-family: "AvernirP" , Verdana, Tahoma;
}

.container-fluid{
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

.row{
  margin: 0;
}


.divider{
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: #1b1c1d;
}

header.main-header{
  background: $main-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  .logo-box{
    background: gray;
    height: 50px;
    width: 108px;
    background: url("../../images/logo_hufca_biale.png") no-repeat;
    background-size: contain;
    .burger{
      width: 50px;
      height: 50px;
      //background: #0ea432;
      //float: right;
      display: none;
      padding-top: 10px;
      span{
        display: block;
        width: 80%;

        height: 3px;
        margin: 5px 0;
        background: black;
      }
    }
  }

  nav.main-menu{
    height: 40px;
    background: $main-color;
    position: relative;
    padding-top: 1px;

    
    .menu-option{
      text-align: center;
      height: inherit;
      padding: 0 !important;


      a.category{
        height: inherit;
        //width: 100%;
        position: relative;
        //display: block;
        top: 10px;
        //padding-top: 20px;
        text-transform: uppercase;
        font-family: "AvernirP" , Verdana, Tahoma;
        font-size: 0.8em;
        color: white;
      }
      a{
        color: white;
      }

      .drop-down{
        width: 100%;
        height: 50px;
        position: absolute;
        left: -2000em;
        top: 38px;
        background: $secondary-color;
        z-index: 999;
        display: flex;


        .dd-item{
          width: 50%;
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: white;
          text-transform: uppercase;
          font-family: "AvernirP" , Verdana, Tahoma;
          font-size: 0.8em;

          .categories{
            display: none;
            flex-direction: column;
            width: 100%;
            li{
              &:hover{
                background: lighten($secondary-color, 12);
              }

            }
          }

          &:hover{
            background: lighten($secondary-color, 5);
          }

          &:hover .categories{
            display: inline-flex;
            background: lighten($secondary-color, 5);
          }


        }

      }

    }

    .menu-option:hover{
      background: $secondary-color !important;
      height: 80px;
    }
    .menu-option:hover .drop-down{
      left: 0;

    }

  }

}

.carousel{
  max-height: 400px !important;
  //position: fixed;
}

.carousel-inner{
  max-height: 80vh;
  .item{
    height: inherit;
    img{
      //height: 400px;
      object-fit: cover;
      -ms-transform: translate(0px,-50%); /* IE 9 */
      -webkit-transform: translate(0px,-50%); /* Safari */
      transform: translate(0px,-50%);
    }
  }
}

.important-info{
  height: 50px;
  background: $secondary-color;
  margin-top: -2px;

  .row{
    .info-wrap{
      text-align: center;

      p{
       line-height: 50px;
        text-align: center;
        color: white;
        font-family: "AvernirP" , Verdana, Tahoma;
        font-size: 0.9em;
      }
    }
  }

}


.content-container{
  //max-width: 1000px;
  min-height: 200px;
  margin: 30px auto;

  .post-wrapper{
    min-height: 200px;
    margin-bottom: 20px;
    display: block;
    position: relative;
    overflow: hidden;

    img{
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: calc(100% - 30px);
    }

    .post-body{
      height: 200px;
      padding: 20px;
      background: lighten(mix($main-color, $secondary-color), 8);
      z-index: 33;
      color: white;
      font-family: "AvernirP" , Verdana, Tahoma;

      .post-title{
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-family: "AvernirP" , Verdana, Tahoma;
        position: relative;
      }

      .post-content{
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding-top: 10px;

      }

      .post-date{
        position: absolute;
        bottom: 5px;
        right: 20px;
        font-size: 0.7em;
      }

    }

  }



  .base{
    
    min-height: 80vh;
    padding: 0 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "AvernirP" , Verdana, Tahoma;

    h2{
      font-size: 2.0em;
      margin-bottom: 10px;
    }
    p.lead{
      font-size: 1.1em;
    }
    label{
      margin: 10px 0;
    }

    &#wygonin{
      margin-bottom: 20px;
      background: url("../../images/355577.jpg");

      background-size: cover;
    }
    &#morenka{
      background: url("../../images/morenka-bg.jpg");
      background-size: cover;
      margin-bottom: 20px;
    }

    .base-close{
      margin: 50px 0;
    }

  }

  .site-content{

    p{
      font-family: "AvernirP" , Verdana, Tahoma;
      font-weight: 200;
      line-height: 1.1em;


    }

  }

  .gallery {
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
    .gallery img {
      margin: 5px;
    }


}

.main-footer{
  background: $main-color;
  position: relative;
  height: 200px;
  bottom: 0;
  display: flex;

  .footer-item{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 300px;
    }

  }
}



@media (max-width: $toast-breakpoint-medium) {

  .main-header{
    height: 50px;
    overflow: hidden;
  }

  .main-header.active{
    min-height: 210px;
    overflow: visible;
  }

  .burger{
    display: block !important;
    position: absolute;
    z-index: 999;
    right: 20px;
  }

  .main-menu{
    display: block;

    .menu-option{
      display: block;

      .drop-down{
        display: none !important;
      }
    }
  }


}


//.main-content div, .sidebar div{
//  height: 200px;
//  background: #e3e3e3;
//}
//




//.box{
//  background: #e3e3e3;
//  height: 30px;
//  margin-bottom: 20px;
//}

