@import "toast";
@import "reset.css";


$main-color: #006CFF;
$secondary-color: #1B60BE;


html, body,ul{
  margin: 0;
  padding: 0;
}

body{
  min-height: 200px;
}

.text-center{
  text-align: center;
}

.page-title{
  padding-top: 20px;
  font-size: 1.9em;
}

.container-fluid{
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

.row{
  margin: 0;
}


.divider{
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: #1b1c1d;
}

//.content-container{
//  max-width: 1000px;
//}

header.main-header{
  background: $main-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  .logo-box{
    background: red;
    height: 50px;
    width: 108px;
    background: url("../../images/logo_hufca_czarne.png") no-repeat;
    background-size: contain;
    .burger{
      width: 50px;
      height: 50px;
      //background: #0ea432;
      //float: right;
      display: none;
      padding-top: 10px;
      span{
        display: block;
        width: 80%;

        height: 3px;
        margin: 5px 0;
        background: black;
      }
    }
  }


  
  nav.main-menu{
    height: 40px;
    background: $main-color;
    position: relative;
    
    .menu-option{
      text-align: center;
      height: inherit;
      padding: 0 !important;

      a{
        height: inherit;
        position: relative;
        top: 10px;
        //padding-top: 20px;
        color: white;
      }
      
      .menu-option:hover{
        background: red;
      }

      .drop-down{
        width: 100%;
        height: 60px;
        position: absolute;
        left: -2000em;
        top: 40px;
        background: red;
        z-index: 999;

      }

    }

    .menu-option:hover{
      background: $secondary-color !important;
    }
    .menu-option:hover .drop-down{
      left: 0;

    }

  }

}

.carousel{
  max-height: 400px !important;
  //position: fixed;
}

.carousel-inner{
  max-height: 80vh;
  .item{
    height: inherit;
    img{
      //height: 400px;
      object-fit: cover;
      -ms-transform: translate(0px,-50%); /* IE 9 */
      -webkit-transform: translate(0px,-50%); /* Safari */
      transform: translate(0px,-50%);
    }
  }
}

.important-info{
  height: 50px;
  background: $secondary-color;
  margin-top: -2px;

  .row{
    .info-wrap{
      text-align: center;

      p{
       line-height: 50px;
        text-align: center;
        color: white;
        font-family: Avenir;
        font-size: 0.9em;
      }
    }
  }

}


.content-container{
  //max-width: 1000px;
  min-height: 1000px;
  margin: 50px auto;

  .post-wrapper{
    min-height: 200px;

    .post-body{
      min-height: 180px;
      padding: 20px;
      background: crimson;
    }

  }



  .row.bases{
      margin: 0;
    //padding: 0 50/px;
  }

  .base{
    
    height: 80vh;
    padding: 0 50px;
    width: 95vw;
    margin-top: 20px ;
    //background: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    &#wygonin{
      margin-bottom: 20px;
      background: url("../images/355577.jpg");

      background-size: cover;
    }
    &#morenka{
      background: url("../images/morenka-bg.jpg");
      background-size: cover;
      margin-bottom: 20px;
    }

    .base-close{
      margin: 50px 0;
    }

  }
  

}

.main-footer{
  //TODO Add responsivnes for that
  height: 200px;
  background: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logos{
    width: 80%;
    height: 100%;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
      width: 50%;
      display: flex;
      justify-content: space-around;

    }
  }

}

@media (max-width: $toast-breakpoint-medium) {

  .main-header{
    height: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .main-header.active{
    min-height: 210px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .burger{
    display: block !important;
    position: absolute;
    z-index: 999;
    right: 20px;
  }

  .main-menu{
    display: block;
    //height: 200px !important;
    .menu-option{
      display: block;

      .drop-down{
        display: none;
      }
    }
  }

}


//.main-content div, .sidebar div{
//  height: 200px;
//  background: #e3e3e3;
//}
//




//.box{
//  background: #e3e3e3;
//  height: 30px;
//  margin-bottom: 20px;
//}

