<section>
    <h1 ng-bind="title"></h1>
    <ul>
        <li ng-repeat="post in posts">
            <h1>{{post.title}}</h1>
            <small ng-repeat="category in category">{{category}},</small>
            <div>Data: {{post.date}}</div>
            <p>Data: {{post.content}}</p>
        </li>
    </ul>

    <hr>

    <ul>
        <h1>Kontakt</h1>
        <li>Administrator: {{contact.admin}}</li>
        <li>Telefon: {{contact.phone}}</li>
        <li>Facebook: {{contact.facebook}}</li>
        <li>Twitter: {{contact.twitter}}</li>
    </ul>

    <ul>
        <h2>Dane do faktury:</h2>
        <li>Numer konta: {{contact.facture.number}}</li>
    </ul>

</section>