<!--<section>-->
    <!--<ul>-->
        <!--<li ng-repeat="post in posts">-->
            <!--<h1>{{post.title}}</h1>-->
            <!--<br>-->
            <!--<small ng-repeat="category in post.category">{{category}}</small>-->
            <!--<br>-->
            <!--<div>Data: {{post.date}}</div>-->
            <!--<br>-->
            <!--<p>Data: {{post.content}}</p>-->
            <!--<br>-->
            <!--<a ng-href="/post/{{post._id}}">{{post._id}}</a>-->
            <!--<br>-->
            <!--<hr>-->
        <!--</li>-->
    <!--</ul>-->
<!--</section>-->

<div class="row">

    <div ng-repeat="post in posts" class="col-xs-12 col-sm-4 col-md-4 post-wrapper">

        <img ng-src="images/backgrounds/{{post.background}}" alt="">
        <div class="post-body">
            <!--<a href="blog/{{post._id}}"><h1 class="post-title">{{post.title}}</h1></a>-->
            <a ng-href="/post/{{post._id}}"><h1 class="post-title">{{post.title}}</h1></a>
            <small ng-repeat="category in category">{{category}}</small>
            <div><p class="post-content"> {{post.content | limitTo: 100 }}{{post.content.length > 20 ? '' : ''}}</p></div>

            <div class="post-date">Data: {{post.date}}</div>

        </div>

    </div>

</div>