<div class="content-container container">

    <nav class="main-menu">

        <div class="col col--1-of-4 col--s-1-of-1 menu-option" ng-repeat="item in site.menu">
            <a ng-if="item.link !== 'false'" class="category" ng-href="{{item.link}}">{{item.title}}</a>
            <a ng-if="item.link === 'false'" class="category">{{item.title}}</a>
            <div class="drop-down dd-harcerz" ng-if="item.menu.length > 0">
                <div class="dd-item" ng-repeat="subitem in item.menu ">
                    <a ng-if="subitem.link !== 'false'" ng-href="{{subitem.link}}">{{subitem.title}}</a>
                    <a ng-if="subitem.link === 'false'">{{subitem.title}}</a>
                    <ul class="categories" ng-if="subitem.menu.length > 0">
                        <li ng-repeat="subsubitem in subitem.menu">
                            <a ng-href="{{subsubitem.link}}">{{subsubitem.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</div>