@charset "UTF-8";
/*-----------------------------------*\
  $TOAST-GRID
  An insane grid.
  You'd be mad to use it.
  Usage
  =====
  Assuming default values:
  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>
  Customisation
  =============
  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.
  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.
  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.
  That's it. Have fun.
\*-----------------------------------*/
@import url(reset.css);
.row {
  list-style: none;
  margin-left: -20px; }

.col--2-of-2, .col--3-of-3, .col--4-of-4, .col--5-of-5, .col--6-of-6, .col--8-of-8, .col--12-of-12, .col--16-of-16 {
  width: 100%; }

.col--1-of-2, .col--2-of-4, .col--3-of-6, .col--4-of-8, .col--6-of-12, .col--8-of-16 {
  width: 50%; }

.col--1-of-3, .col--2-of-6, .col--4-of-12 {
  width: 33.3333333333%; }

.col--2-of-3, .col--4-of-6, .col--8-of-12 {
  width: 66.6666666667%; }

.col--1-of-4, .col--2-of-8, .col--3-of-12, .col--4-of-16 {
  width: 25%; }

.col--3-of-4, .col--6-of-8, .col--9-of-12, .col--12-of-16 {
  width: 75%; }

.col--push-2-of-2, .col--push-3-of-3, .col--push-4-of-4, .col--push-5-of-5, .col--push-6-of-6, .col--push-8-of-8, .col--push-12-of-12, .col--push-16-of-16 {
  margin-left: 100%; }

.col--push-1-of-2, .col--push-2-of-4, .col--push-3-of-6, .col--push-4-of-8, .col--push-6-of-12, .col--push-8-of-16 {
  margin-left: 50%; }

.col--push-1-of-3, .col--push-2-of-6, .col--push-4-of-12 {
  margin-left: 33.3333333333%; }

.col--push-2-of-3, .col--push-4-of-6, .col--push-8-of-12 {
  margin-left: 66.6666666667%; }

.col--push-1-of-4, .col--push-2-of-8, .col--push-3-of-12, .col--push-4-of-16 {
  margin-left: 25%; }

.col--push-3-of-4, .col--push-6-of-8, .col--push-9-of-12, .col--push-12-of-16 {
  margin-left: 75%; }

.col--pull-2-of-2, .col--pull-3-of-3, .col--pull-4-of-4, .col--pull-5-of-5, .col--pull-6-of-6, .col--pull-8-of-8, .col--pull-12-of-12, .col--pull-16-of-16 {
  margin-left: -100%; }

.col--pull-1-of-2, .col--pull-2-of-4, .col--pull-3-of-6, .col--pull-4-of-8, .col--pull-6-of-12, .col--pull-8-of-16 {
  margin-left: -50%; }

.col--pull-1-of-3, .col--pull-2-of-6, .col--pull-4-of-12 {
  margin-left: -33.3333333333%; }

.col--pull-2-of-3, .col--pull-4-of-6, .col--pull-8-of-12 {
  margin-left: -66.6666666667%; }

.col--pull-1-of-4, .col--pull-2-of-8, .col--pull-3-of-12, .col--pull-4-of-16 {
  margin-left: -25%; }

.col--pull-3-of-4, .col--pull-6-of-8, .col--pull-9-of-12, .col--pull-12-of-16 {
  margin-left: -75%; }

.col--1-of-5 {
  width: 20%; }

.col--push-1-of-5 {
  margin-left: 20%; }

.col--pull-1-of-5 {
  margin-left: -20%; }

.col--2-of-5 {
  width: 40%; }

.col--push-2-of-5 {
  margin-left: 40%; }

.col--pull-2-of-5 {
  margin-left: -40%; }

.col--3-of-5 {
  width: 60%; }

.col--push-3-of-5 {
  margin-left: 60%; }

.col--pull-3-of-5 {
  margin-left: -60%; }

.col--4-of-5 {
  width: 80%; }

.col--push-4-of-5 {
  margin-left: 80%; }

.col--pull-4-of-5 {
  margin-left: -80%; }

.col--1-of-6 {
  width: 16.6666666667%; }

.col--push-1-of-6 {
  margin-left: 16.6666666667%; }

.col--pull-1-of-6 {
  margin-left: -16.6666666667%; }

.col--5-of-6 {
  width: 83.3333333333%; }

.col--push-5-of-6 {
  margin-left: 83.3333333333%; }

.col--pull-5-of-6 {
  margin-left: -83.3333333333%; }

.col--1-of-8 {
  width: 12.5%; }

.col--push-1-of-8 {
  margin-left: 12.5%; }

.col--pull-1-of-8 {
  margin-left: -12.5%; }

.col--3-of-8 {
  width: 37.5%; }

.col--push-3-of-8 {
  margin-left: 37.5%; }

.col--pull-3-of-8 {
  margin-left: -37.5%; }

.col--5-of-8 {
  width: 62.5%; }

.col--push-5-of-8 {
  margin-left: 62.5%; }

.col--pull-5-of-8 {
  margin-left: -62.5%; }

.col--7-of-8 {
  width: 87.5%; }

.col--push-7-of-8 {
  margin-left: 87.5%; }

.col--pull-7-of-8 {
  margin-left: -87.5%; }

.col--1-of-12 {
  width: 8.3333333333%; }

.col--push-1-of-12 {
  margin-left: 8.3333333333%; }

.col--pull-1-of-12 {
  margin-left: -8.3333333333%; }

.col--2-of-12 {
  width: 16.6666666667%; }

.col--push-2-of-12 {
  margin-left: 16.6666666667%; }

.col--pull-2-of-12 {
  margin-left: -16.6666666667%; }

.col--5-of-12 {
  width: 41.6666666667%; }

.col--push-5-of-12 {
  margin-left: 41.6666666667%; }

.col--pull-5-of-12 {
  margin-left: -41.6666666667%; }

.col--7-of-12 {
  width: 58.3333333333%; }

.col--push-7-of-12 {
  margin-left: 58.3333333333%; }

.col--pull-7-of-12 {
  margin-left: -58.3333333333%; }

.col--10-of-12 {
  width: 83.3333333333%; }

.col--push-10-of-12 {
  margin-left: 83.3333333333%; }

.col--pull-10-of-12 {
  margin-left: -83.3333333333%; }

.col--11-of-12 {
  width: 91.6666666667%; }

.col--push-11-of-12 {
  margin-left: 91.6666666667%; }

.col--pull-11-of-12 {
  margin-left: -91.6666666667%; }

.col--1-of-16 {
  width: 6.25%; }

.col--push-1-of-16 {
  margin-left: 6.25%; }

.col--pull-1-of-16 {
  margin-left: -6.25%; }

.col--2-of-16 {
  width: 12.5%; }

.col--push-2-of-16 {
  margin-left: 12.5%; }

.col--pull-2-of-16 {
  margin-left: -12.5%; }

.col--3-of-16 {
  width: 18.75%; }

.col--push-3-of-16 {
  margin-left: 18.75%; }

.col--pull-3-of-16 {
  margin-left: -18.75%; }

.col--5-of-16 {
  width: 31.25%; }

.col--push-5-of-16 {
  margin-left: 31.25%; }

.col--pull-5-of-16 {
  margin-left: -31.25%; }

.col--6-of-16 {
  width: 37.5%; }

.col--push-6-of-16 {
  margin-left: 37.5%; }

.col--pull-6-of-16 {
  margin-left: -37.5%; }

.col--7-of-16 {
  width: 43.75%; }

.col--push-7-of-16 {
  margin-left: 43.75%; }

.col--pull-7-of-16 {
  margin-left: -43.75%; }

.col--9-of-16 {
  width: 56.25%; }

.col--push-9-of-16 {
  margin-left: 56.25%; }

.col--pull-9-of-16 {
  margin-left: -56.25%; }

.col--10-of-16 {
  width: 62.5%; }

.col--push-10-of-16 {
  margin-left: 62.5%; }

.col--pull-10-of-16 {
  margin-left: -62.5%; }

.col--11-of-16 {
  width: 68.75%; }

.col--push-11-of-16 {
  margin-left: 68.75%; }

.col--pull-11-of-16 {
  margin-left: -68.75%; }

.col--13-of-16 {
  width: 81.25%; }

.col--push-13-of-16 {
  margin-left: 81.25%; }

.col--pull-13-of-16 {
  margin-left: -81.25%; }

.col--14-of-16 {
  width: 87.5%; }

.col--push-14-of-16 {
  margin-left: 87.5%; }

.col--pull-14-of-16 {
  margin-left: -87.5%; }

.col--15-of-16 {
  width: 93.75%; }

.col--push-15-of-16 {
  margin-left: 93.75%; }

.col--pull-15-of-16 {
  margin-left: -93.75%; }

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 700px) {
    .col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 700px) and (min-width: 480px) {
    .col[class*="col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--m-1-of-2, .col.col--m-2-of-4 {
      width: 50%; }
    .col.col--m-1-of-3 {
      width: 33.3333333333%; }
    .col.col--m-2-of-3 {
      width: 66.6666666667%; }
    .col.col--m-1-of-4 {
      width: 25%; }
    .col.col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .col[class*="col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--s-1-of-2, .col.col--s-2-of-4 {
      width: 50%; }
    .col.col--s-1-of-3 {
      width: 33.3333333333%; }
    .col.col--s-2-of-3 {
      width: 66.6666666667%; }
    .col.col--s-1-of-4 {
      width: 25%; }
    .col.col--s-3-of-4 {
      width: 75%; } }

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col--d-first {
  float: left; }

.col--d-last {
  float: right; }

.row--no-gutter {
  margin-left: 0;
  width: 100%; }
  .row--no-gutter .col {
    padding-left: 0; }
  .row--no-gutter .col--span-all {
    margin-left: 0;
    width: 100%; }

.col--ab {
  vertical-align: bottom; }

.col--am {
  vertical-align: middle; }

html, body, ul {
  margin: 0;
  padding: 0; }

body {
  min-height: 200px; }

.text-center {
  text-align: center; }

.page-title {
  padding-top: 20px;
  font-size: 1.9em; }

.container-fluid {
  padding: 0;
  margin: 0;
  max-width: 100vw; }

.row {
  margin: 0; }

.divider {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: #1b1c1d; }

header.main-header {
  background: #006CFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  header.main-header .logo-box {
    background: red;
    height: 50px;
    width: 108px;
    background: url("../../images/logo_hufca_czarne.png") no-repeat;
    background-size: contain; }
    header.main-header .logo-box .burger {
      width: 50px;
      height: 50px;
      display: none;
      padding-top: 10px; }
      header.main-header .logo-box .burger span {
        display: block;
        width: 80%;
        height: 3px;
        margin: 5px 0;
        background: black; }
  header.main-header nav.main-menu {
    height: 40px;
    background: #006CFF;
    position: relative; }
    header.main-header nav.main-menu .menu-option {
      text-align: center;
      height: inherit;
      padding: 0 !important; }
      header.main-header nav.main-menu .menu-option a {
        height: inherit;
        position: relative;
        top: 10px;
        color: white; }
      header.main-header nav.main-menu .menu-option .menu-option:hover {
        background: red; }
      header.main-header nav.main-menu .menu-option .drop-down {
        width: 100%;
        height: 60px;
        position: absolute;
        left: -2000em;
        top: 40px;
        background: red;
        z-index: 999; }
    header.main-header nav.main-menu .menu-option:hover {
      background: #1B60BE !important; }
    header.main-header nav.main-menu .menu-option:hover .drop-down {
      left: 0; }

.carousel {
  max-height: 400px !important; }

.carousel-inner {
  max-height: 80vh; }
  .carousel-inner .item {
    height: inherit; }
    .carousel-inner .item img {
      object-fit: cover;
      -ms-transform: translate(0px, -50%);
      /* IE 9 */
      -webkit-transform: translate(0px, -50%);
      /* Safari */
      transform: translate(0px, -50%); }

.important-info {
  height: 50px;
  background: #1B60BE;
  margin-top: -2px; }
  .important-info .row .info-wrap {
    text-align: center; }
    .important-info .row .info-wrap p {
      line-height: 50px;
      text-align: center;
      color: white;
      font-family: Avenir;
      font-size: 0.9em; }

.content-container {
  min-height: 1000px;
  margin: 50px auto; }
  .content-container .post-wrapper {
    min-height: 200px; }
    .content-container .post-wrapper .post-body {
      min-height: 180px;
      padding: 20px;
      background: crimson; }
  .content-container .row.bases {
    margin: 0; }
  .content-container .base {
    height: 80vh;
    padding: 0 50px;
    width: 95vw;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; }
    .content-container .base#wygonin {
      margin-bottom: 20px;
      background: url("../images/355577.jpg");
      background-size: cover; }
    .content-container .base#morenka {
      background: url("../images/morenka-bg.jpg");
      background-size: cover;
      margin-bottom: 20px; }
    .content-container .base .base-close {
      margin: 50px 0; }

.main-footer {
  height: 200px;
  background: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-footer .logos {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-footer .logos div {
      width: 50%;
      display: flex;
      justify-content: space-around; }

@media (max-width: 700px) {
  .main-header {
    height: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

  .main-header.active {
    min-height: 210px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

  .burger {
    display: block !important;
    position: absolute;
    z-index: 999;
    right: 20px; }

  .main-menu {
    display: block; }
    .main-menu .menu-option {
      display: block; }
      .main-menu .menu-option .drop-down {
        display: none; } }
